* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-right: calc(-1 * (100vw - 100%));
}

.container {
  max-width: 920px;
  height: 100%;
  margin: 100px auto;
  background-color: #F5F5EB;
}

.accord-list {
  width: 90%;
  margin: 0 auto;
}

.accord-list:hover {
  cursor: pointer;
}

.accord-title {
  font-size: 42px;
  font-family: Arial, serif;
  font-weight: 700;
}

.accord-item {
  border-top: 2px solid #d1cdcd;
}

.item {
  width: 0;
  height: 0;
  appearance: none;
}



.item:checked~.item-block {
  display: block;
  transition: all 15s ease-in-out;
}

.item:checked~.item-title {
  color: #2d19c5;
}

.item:hover~.item-block {
  display: block;
}

.item:hover~.item-title {
  color: #2d19c5;
}

.item-title {
  display: block;
  cursor: pointer;
  padding: 20px;
  transition: all .3s ease-in-out;
}

.item-block {
  display: none;
  padding-bottom: 20px;
}

.item-img {
  width: 50%;
  display: block;
  margin: 20px auto;
}